<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo_item in todo_list %}
                       <tr>
                            <td>{{ todo_list.items.name }}</td>
                            <td>{{ todo_list.items.count }}</td>
                       </tr>
                       <tr>
                            <td>
                               {% for todo_item in todo_.all %}

                            </td>




                       </tr>
                   </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
